<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>تست html</title>
    </head>
    <body>
        <%if(message){%>
            <span>
                <%= message %>
            </span>
        <%}%>
        <div>
            <form class="formInput" action="/api/node/user" method="POST">
                <input type="text" placeholder="نام" name="name">
                <input type="text" placeholder="نام خانوادگی" name="lName">
                <input type="email" placeholder="ایمیل"  name="email">
                <input type="password" placeholder="پسورد"  name="password">
                <input type="number" placeholder="سن"  name="age">
                <input type="submit" value="ثبت">
            </form>
        </div>
        <% users.forEach(user=>{ %>
            <div class="List">
                <h2>
                    hello <%= user.name %> <%= user.age %> years old with email : <%= user.email %>
                </h2>
                <form action="/api/node/user/<%= user.id %>?method=DELETE" method="POST">
                    <input type="submit" value="حذف">
                </form>
            </div>
            <p>
                your id is <%= user.id %>
            </p>
        <% }) %>
    </body>
</html>