h2{
    text-align: center;
    display: inline-block;
}

div{
    width: 100%;
}

p{
    text-align: center;
}

.List{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formInput{
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    margin: auto;
}